body {
    background-image: url(air_baloons_bkr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    text-align: center;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

.container{
    width: 645px;
    background: black;
    margin: 5px;
    padding: 15px;
    display: flex;
    text-align: center;

}

.board{
    display: flex;
    min-height: 480px;
    width: 480px;
    flex-flow: wrap;
    background: gray;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
}

.tile {
    background: white;
    display: inline-block;
    flex: 1 1 auto;
    height: 60px;
    width: 60px;
    margin: 5px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    font-size: 220%;
    vertical-align: middle;
    line-height: 60px;
    border-radius: 2px;
}

.tile:hover{
        background: yellow; 
    }

.selected{
    background: pink;
}

.dead {
    opacity: 0;
    &:hover {
        cursor: default;
  }
}

aside {
    background: gray;
    width: 110px;
    padding: 15px; 
    margin: 5px;
    height: 480px;
    border-radius: 5px;
    text-align: center;
}

.displayNum{
    border: 2px solid black;
    height: 80px;
    width: 80px;
    margin: 5px;
    padding: 10px;
    vertical-align: middle;
    line-height: 80px;
    font-size: 275%;
}

.userScore{
    border: 2px solid black;
    height: 40px;
    width: 80px;
    margin: 5px;
    padding: 10px;
    vertical-align: middle;
    line-height: 40px;
    font-size: 125%;
}

.level{
    border: 2px solid black;
    height: 40px;
    width: 80px;
    margin: 5px;
    padding: 10px;
    vertical-align: middle;
    line-height: 40px;
    font-size: 125%;
}

button{
    width: 80px;
    margin: 5px;
}

footer{
    text-align: center;
}
