body {
    background-image: url(air_baloons_bkr_Fotor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Fredoka One', cursive;
}
header{
    text-align: center;
    color: #b84166;
    font-size; 200%;
}

h1{
    text-align: center;
    font-size; 4rem;
}

.container{
    width: 645px;
    background-color: #231a4c;
    margin: 5px;
    padding: 15px;
    display: flex;
    text-align: center;
    margin: auto;
    border-radius: 4px;
}

.board{
    display: flex;
    min-height: 480px;
    width: 480px;
    flex-flow: wrap;
    background: #6b7b83;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
}

.tile {
    background-color: #f0e1d6;
    display: inline-block;
    flex: 1 1 auto;
    height: 45px;
    width: 40px;
    margin: 5px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    font-size: 220%;
    vertical-align: middle;
    line-height: 45px;
    border-radius: 2px;
    border: 8px solid #231a4c;
    color: #231a4c;
}

.tile:hover{
        background: #8078a1;
        opacity: 0.8;

    }

.selected{
    background: #8078a1;
    opacity: 0.9;
}

.dead {
    opacity: 0;

}
.dead:hover {
    opacity: 0;
}

aside {
    background: #6b7b83;
    width: 110px;
    padding: 15px; 
    margin: 5px;
    height: 480px;
    border-radius: 5px;
    text-align: center;
    align-content: center;
    color: #231a4c;
}

.displayNum{
    border: 8px solid #231a4c;
    height: 80px;
    width: 80px;
    padding: 8px;
    vertical-align: middle;
    line-height: 80px;
    font-size: 275%;
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: #f0e1d6;
    border-radius: 2px;
}

.userScore{
    border: 8px solid #231a4c;
    height: 30px;
    width: 80px;
    padding: 8px;
    vertical-align: middle;
    line-height: 30px;
    font-size: 125%;
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: #f0e1d6;
    border-radius: 2px;
}

.level{
    border: 8px solid #231a4c;
    height: 30px;
    width: 80px;
    padding: 8px;
    vertical-align: middle;
    line-height: 30px;
    font-size: 125%;
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: #f0e1d6;
    border-radius: 2px;
}

button{
    width: 80px;
    margin: 5px;
    color: antiquewhite;
    background-color: #231a4c;
    border: 8px solid #231a4c;
    border-radius: 2px;
}

h4 {
    text-align: center;
    margin-bottom: 5px;
}

p{
    text-align: center;
    margin-top: 2px;
}


footer{
    text-align: center;
    color: #231a4c;
    margin: 10px;
}
